.listeningComprehensionContainer {
  font-family: Arial, sans-serif;
  padding: 0 300px;
}

.listeningComprehensionContainer h2,
.listeningComprehensionContainer h3 {
  color: #333;
}

.questions {
  margin-top: 20px;
}

.question ul {
  list-style: none;
  padding: 0;
}

.question li {
  margin-bottom: 10px;
}

.question input[type="radio"] {
  margin-right: 10px;
}
