@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-button {
  @apply rounded border-none bg-blue-600 px-6 py-2.5 text-sm font-semibold tracking-wider text-white outline-none hover:bg-blue-700 active:bg-blue-600;
}

.blue-select {
  @apply rounded border-none bg-blue-600 px-2 py-2.5 text-center text-sm font-semibold text-white outline-none hover:bg-blue-700 active:bg-blue-600;
}

/* 始终显示滚动条,防止切换时页面抖动 */
html {
  overflow-y: scroll;
}

/* 美化滚动条样式(可选) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
